@charset "utf-8";
/* CSS Document */
body { background:url(../images/search_bg.jpg) no-repeat; height: 720px;  margin: 0; padding: 0; width: 1280px; font-family:'黑体'; font-size: 25px; color:#FFF;}
#search_area{ top:100px; left:170px; position:absolute; width:950px; height:70px;}
#input_area{top:17px; left:29px; position:absolute; width:733px; height:37px; outline: none; font-size:25px; color:#000; font-family:'黑体'; padding: 3px 20px; margin: 0; padding: 0; }
#search{ top:12px; left:780px; position:absolute; height:56px; width:137px; background:url(../images/search.png) no-repeat; }

.result_area{ top:170px; left:170px; position:absolute; width:950px; height:480px; z-index:10;}
._result_show{ top:0; left:0; position:absolute; width:940px; height:420px;}
#result_show{ padding-top:9px; padding-left:10px;}
.list_result{ line-height:49px; height:49px; margin-top:0px; padding-left:40px;}

#result_focus{ background:url(../images/search_focus.png) no-repeat; top:175px; left:200px; position:absolute; height:53px; width:878px; z-index:1; visibility:hidden;}
#page{ left:532px; top:585px; position:absolute; width:200px; height:50px; text-align:center; color:#00b7ff; font-size:20px;}

.black { color: black; line-height:49px; height:49px; margin-top:0px; padding-left:40px;}
.white {color: white; line-height:49px; height:49px; margin-top:0px; padding-left:40px;}

